<div class="navmobile">
  <div class="mbtn">
    <a href="/dashboard/<%=user._id%>">Dashboard</a>
  </div>
  <div class="mbtn">
    <a href="/activity/<%=user._id%>">Your Trips</a>
  </div>
  <div class="mbtn">
    <a class="mbtn" href="/settings/<%=user._id%>">Settings</a>
  </div>
  <div class="mbtn">
    <a class="mbtn" href="/">Logout</a>
  </div>
</div>
