<div class="navmobile">
    <a class="btn " href="/dashboard/<%=user._id%>">Dashboard</a>
  <a class="btn " href="/activity/<%=user._id%>">Your Trips</a>
  <a class="btn  " href="/settings/<%=user._id%>">Settings</a>
  <a class="btn  " href="/">Logout</a>

</div>