
<div class="welcomer">
  <div>
    <h1>CarryGo</h1>
    <p>The ride sharing app for Nigerians.</p>
  </div>
  <div class="logocontainer">
    <img class="logo" src="images/taxi1.png" />
  </div>
</div>
