<%- include('partials/header'); -%>

<title>Dashboard</title>
</head>
<body>
    <div class="container-fluid dashcontainer">
        <div class="row">
            <%- include('partials/dashboardnav'); -%>
            <div class="col-lg-9">
                Activity
            </div>
        </div>
    </div>

 

<%- include('partials/footer'); -%>