<%- include('partials/header'); -%>
  <title>CarryGo | Login</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="maincontainer container-fluid ">
  <div class="row logincontainer">
    <div class="col-lg-6">
      <%- include('partials/welcomer'); -%>
    </div>
    <div class="col-lg-6 signupcontainer">
      <div class="signup">
        <h1>Login</h1>
        <form action="/login"  method="POST" >
          <div class="mb-3">
            <small for="email" class="form-label">Email address</small>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="mb-3">
            <small for="password" class="form-label">Password</small>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
            />
          </div>
          
          <button type="submit" class="btn btn-primary signupbtn">
            Login
          </button>
          <p>
            Don't have an account?<a class="signuplink" href="/signup"
              >Signup</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
