.container {
    background-color: red;
}

.dashcontainer{
    padding: 3rem;
}

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    height: 80vh;
    border-radius: 2rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);

}

.dashbutton{
    background-color: #2E2E42;
    color: white;
    height: 4rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.dashbutton:hover {
    background-color: #4B9C85;
    color: white;

}