



  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4B9C85;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  @media (max-width: 480px) {
    .container {
      padding: 10px;
    }
  }