body {
  font-family: Arial, sans-serif;
  background-color: #E8F6EF;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container-fluid{
  flex: 1;
}

.maincontainer{
  background-color: #E8F6EF;
  height: 100%;
}

.containeritems {
  display: flex;
  align-items: center;
}

.logincontainer{
  display: flex;
  align-items: center;
  height: 100vh;

}

.signupcontainer {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.signup {
  width: 40rem;
  padding: 2.5rem;
  background-color: #1B9C85;
  color: #f1f6f9;
  border-radius: 5px;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.1);
}

.signupbtn{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: .5rem;
  background-color: #2e2e42;
  border: none;

}

.signuplink {
  color: white;
  margin-left: .5rem;
}

.welcomer {
  display: flex;
  justify-content: center;
}

.welcomer h1 {
  font-size: 7rem;
}

.welcomer p {
  font-size: 1.5rem;
}

.logo {
  width: 10rem;
}

footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 50px;
  background-color: #2e2e42;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: .8rem;
  font-weight: lighter;
  flex-shrink: 0;
}



/* dashboard global css  */

.dashcontainer{
  padding: 3rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  height: 80vh;
  border-radius: 2rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);

}

.dashbutton{
  background-color: #2E2E42;
  color: white;
  height: 4rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashbutton:hover {
  background-color: #4B9C85;
  color: white;

}

.input {
  height: 2.5rem;
  margin-bottom: .2rem;
  border-radius: 2rem;
  background-color: #EEEEEE;
}



.welcometext {
  margin-bottom: 1.5rem;
}

.bookbutton{
  background-color: #1B9C85;
  color: white;
  height: 2.5rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bookbutton:hover {
  background-color: #116858;
  color: white;
}

/* modal css */

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #1B9C85;
  margin: 10% auto;
  padding: 20px;
  width: 60%;
  max-width: 500px;
  color: white;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px){
  .welcomer h1 {
    font-size: 4rem;
  }

  .welcomer p {
    font-size: 1.3rem;
  }

  .welcomer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
  }
  
  footer{
    /* display: none; */
  }
}